.mainbody {

    display: flex;
    width: 87%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

.left {
    width: 40%;
    margin: 40px auto;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.right {
    margin: 20px auto;
    width: 45%
}

.button {

    width: 30%;
    padding: 10px !important;

    background-color: #6c63ff !important;
}

.button:hover {
    background-color: unset !important;
    border: 2px solid #6c63ff !important;
    color: black;
}

.form {
    width: 100%;
    margin: 40px auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width:900px) {
    .left {
        width: 80% !important;
        text-align: center;
    }

    .input {
        width: 100% !important;
    }

    .right {
        width: 80% !important
    }

    .mainbody {
        flex-direction: column;
    }
}

.input {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    border: unset;
    border-bottom: 2px solid black;
}

@media only screen and (max-width:400px){
    .button{
        width:40%;
    }
}