<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {

        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .test {
        font-size: 20px;
        display: none;
    }

    .box {
        background-color: black;
        height: 5px;
        width: 60px;
    }

    .cal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .result {
        display: none;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: translateX(-3px) rotate(-45deg);
        -webkit-transform: translateX(-3px) rotate(-45deg);
    }

    .left {
        transform: translateX(3px) rotate(135deg);
        -webkit-transform: translateX(3px) rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .calibrate_container {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .app_btn{
        padding: 5px 10px;
        /* background-color: black; */
        border-radius: 50%;
        border: 1px solid black;
    }
</style>

<body>
    <div class="container">

        <div class="test">F P C D</div>
        <h2 class="result"></h2>
        <div class="cal">

            <h1>Calibrate Your Distance</h1>
            <div class="calibrate_container">
                <div class="arrow left"></div>
                <div class="box">
                </div>
                <div class="arrow right"></div>

            </div>
            <div class="app_btn app_up">
                <div class="arrow up"></div>
            </div>
            <div class="app_btn app_down">

                <div class="arrow down"></div>
            </div>
        </div>
        <button class="cal_button">Calibrate</button>

    </div>
    <script>
        const box = document.querySelector('.box');
        const test = document.querySelector('.test');
        const calButton = document.querySelector(".cal_button");
        const result = document.querySelector(".result");
        const cal = document.querySelector(".cal");

        let k = 1;

        const calibration = {
            isCalibrated: false,
            calibrationUnit: 0
        }

        function calcEyePower(size) {
            console.log(size, calibration.calibrationUnit)
            const eyePower = -0.0139047 * size + 0.00662667 * calibration.calibrationUnit;
            return eyePower;
        }
        calButton.onclick = () => {
            if (calibration.isCalibrated) {
                result.innerHTML = `Your eye power is ${calcEyePower(parseInt(test.style.fontSize.split("p")[0]))}`;
                result.style.display = "block";
            } else {
                calibration.calibrationUnit = parseInt(box.style.width.split("p")[0]);
                console.log(calibration.calibrationUnit);
                calibration.isCalibrated = true;
                calButton.innerHTML = "Calculate My Power";
                cal.style.display = "none";
                test.style.display = "block";
            }
        }

        function randomChar() {
            let chars = 'ABcDeFgHIjKLMNOPqRSTuVWxYz';
            return chars.charAt(Math.floor(Math.random() * chars.length));
        }

        let count = 20;
        window.addEventListener('keydown', (e) => {
            if (e.keyCode === 38) {
                count++;
            }
            else if (e.keyCode === 40) {
                count--;
            } else if (e.keyCode === 32) {
                test.innerHTML = `${randomChar()} ${randomChar()} ${randomChar()} ${randomChar()}`;
            }
            // } else if (e.key === "q"){
            //     k += 1;
            //     result.innerHTML = `Your eye power is ${calcEyePower(parseInt(test.style.fontSize.split("p")[0]))}`;
            // } else if (e.key === "e") {
            //     k -= 1;
            //     result.innerHTML = `Your eye power is ${calcEyePower(parseInt(test.style.fontSize.split("p")[0]))}`;
            // } else if (e.key === "w") {
            //     console.log("k = ",k);
            // }

            test.style.fontSize = count + 'px';
            box.style.width = 3 * count + 'px';

        })
    </script>
</body>

</html>