<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .profilecont{
        width:100%;
        display: flex;
        min-height: 400px;
        justify-content: center;
        align-items: center;
    }
    .line{
        width:7px;
        height: 200px;
        background-color: red;
        margin: 10px 20px;
    }

    .info{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .info img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    .resultinfo{
        width: 50%;
        font-size: 20px;
    }

    .section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000") rgba(0,0,0,0.6) no-repeat center center/cover;
        background-attachment: fixed;
        background-blend-mode: multiply;
        color:white;
        height: 50vh;
        font-size: 6rem !important;
    }

</style>

<body>
    
    <%- include("partials/navbar.ejs") %>
    
    <div class="section">
        Profile
    </div>

    <div class="profilecont">
        <div class="info">
            <img src="https://sm.ign.com/ign_nordic/cover/a/avatar-gen/avatar-generations_prsz.jpg" alt="">
            <h3> <%= user.username %></h3>
            <h4> <%= user.email %></h4>
        </div>
        <div class="line"></div>
        <div class="resultinfo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste, sed commodi facere reprehenderit ut molestiae adipisci et repudiandae eos magnam omnis odio, sit tempora rerum iusto eveniet. Optio modi at voluptates nobis! Veritatis reprehenderit illo molestiae temporibus et adipisci, autem nam culpa ipsam porro ab inventore voluptate vitae deleniti iste quod nesciunt similique delectus quasi nemo possimus consectetur ipsa est. Repellat ut natus repudiandae quasi deleniti unde molestias, velit vero nesciunt repellendus non facere, pariatur obcaecati nostrum voluptas eius saepe dolorem accusantium error sint officiis vel quod excepturi doloribus! Quibusdam blanditiis explicabo, quia animi quod repellat tempore harum dolor.</div>
    </div>
    
    <%- include("partials/footer.ejs") %>
    
</body>
</html>