<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="mainbody">
            <div class="left">
                <img class="leftin image" src="/images/signup.jpg" alt="">
            </div>

            <div class="right">
                <form class="form" action="/signup" method="post">
                    <h2>Sign up</h2>
                    <input class="input" type="text" name="username" required placeholder="Name" />
                    <div class="name error"></div>

                    <input class="input" type="text" name="email" required placeholder="E-mail" />
                    <div class="email error"></div>

                    <input class="input" type="password" name="password" required placeholder="Password" />
                    <div class="password error"></div>

                    <button class="btn button">Sign up</button>
                </form>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>

</body>

</html>